<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<div class="card" style="width: 18rem; height: 12rem;">
  <img class="card-img-top" src="..." alt="Card image cap" />
  <div class="card-body">
    <h6 class="card-title">{{ item }}</h6>
    
   <!-- <p class="card-text"></p> -->
    <!-- <a href="#" class="btn btn-primary">Favourite</a> -->
  </div>

</div>

